$ease-out: all .3s cubic-bezier(0.23, 1, 0.32, 1);
$on-hold: #FB7D44;
$in-progress: #2A92BF;
$needs-review: #F4CE46;
$approved: #00B961;

.drag-container {
    max-width: 1000px;
    margin: 0px auto;
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.drag-list {
    display: flex;
    align-items: flex-start;
    height: 100%;
    position: relative;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    @media (max-width: 690px) {
        display: block;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.drag-column-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
    flex-shrink: 0;
}

.drag-inner-list {
    min-height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.drag-item {
    padding: 5px;
    transition: $ease-out;
    background: #dfe3e6;
    -webkit-user-select: none;

    &.is-moving {
        transform: rotate(4deg) scale(1.1);
        background: none;
    }

    &:first-child {
        padding-top: 10px;
    }

    &:last-child {
        padding-bottom: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.drag-header-more {
    cursor: pointer;
}

.drag-column {
    width: 300px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .drag-column-header > h2 {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;

        .stageName {
            background-color: inherit;
            font-size: 16px;
            font-weight: bold;
        }

        .newCard {
            float: right;
            cursor: pointer;
        }
    }

    &-on-hold {
        .drag-column-header,
        .is-moved .card-item {
            background: $on-hold;
        }
    }

    &-in-progress {
        .drag-column-header,
        .is-moved .card-item {
            background: $in-progress;
        }
    }

    &-needs-review {
        .drag-column-header,
        .is-moved .card-item {
            background: $needs-review;
        }
    }

    &-approved {
        .drag-column-header,
        .is-moved .card-item {
            background: $approved;
        }
    }

    @media (max-width: 690px) {
        margin-bottom: 30px;
    }
}

/* Dragula CSS  */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
    opacity: 0.5;
    transform: none!important;
    background-color: #dfe3e6!important;
}
